@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary: #23A6F0; 
}

*{
  font-family: 'Montserrat', sans-serif;
}

.primary-bg {
  background: var(--primary);
  background-color: var(--primary);
}